{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
    <title>DataBase Final Project</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://rawgithub.com/ferrufino/Incidents/master/project/templates/project/assets/index.css" />
   <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
<script> $(document).ready(function() {
    $('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
 
        // Show/Hide Tabs
        $('.tabs ' + currentAttrValue).show().siblings().hide();
 
        // Change/remove current tab to active
        $(this).parent('li').addClass('active').siblings().removeClass('active');
 
        e.preventDefault();
    });
}); </script>
<script> 
    $(function(){
      $("#iC").load(""); 
    });
    </script> 
    </head>
 <body>

 <nav class="navbar navbar-default" role="navigation">
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="nuv" style="background-color:#404040;">
        <a class="navbar-brand navbar-header" href="#" style="color:white;">Incident Employee</a>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
             </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</nav>
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Incidents Assigned</a></li>   
    </ul>
 
    <div class="tab-content">
	<div id="tab1" class="tab active">
                        
                        <!-- EJEMPLO DE CARD -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="well well-sm">
                                        <form class="form-horizontal" action="/index/UpdateIncident/{{empid}}" method="post">
                                            <fieldset>
                                                <legend class="text-center">Incident Card</legend>
                                                {% csrf_token %}
                                                <!-- ID input-->
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="id_incidentId">Incident ID</label>
                                                    <div class="col-md-9">
                                                        <input id="id_incidentId" maxlength="15" name="incidentId" type="number" placeholder="Insert incident number" class="form-control">
                                                            </div>
                                                </div>

                                                <!-- Start input-->
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="id_hourStart">Start</label>
                                                    <div class="col-md-9">
                                                        <input id="id_hourStart" maxlength="15" name="hourStart" type="time" placeholder="Insert start of incident" class="form-control">
                                                            </div>
                                                </div>
                                                
                                                <!-- End input-->
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="id_hourEnd">End</label>
                                                    <div class="col-md-9">
                                                        <input id="id_hourEnd" name="hourEnd" type="time" placeholder="Insert end of incident" class="form-control">
                                                            </div>
                                                </div>
												
												<!-- Concluded Checkbox -->
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="id_concluded">Concluded</label>
                                                    <div class="col-md-9">
                                                        <input id="id_concluded" name="concluded" type="checkbox" placeholder="Insert end of incident" class="form-control">
                                                            </div>
                                                </div>
												
												<!-- Description -->
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="id_description">Description</label>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" id="id_description" name="description" placeholder="Please enter your message here..."  maxlength="100" ></textarea>
                                                    </div>
                                                </div>

                                                <!-- Hiiden field -->
                                                <div class="form-group">
                                                        <input id="id_empId" name="empId" value="{{empid}}" type="hidden" ></input>
                                                </div>
                                                
                                                <!-- Form actions -->
                                                <div class="form-group">
                                                    <div class="col-md-12 text-right">
                                                        <button type="submit" class="btn btn-primary btn-lg" value="Submit">Submit</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <div id="tab1" class="tab active">
	  		<div class="container">
                {% render_table assigned_incidents %}
	   <!-- <div id="iC"></div> -->
	  </div>
        </div>
 
    </div>
</div>





  </body>
</html>







